/* Header */

position: absolute;
width: 1440px;
height: 100px;
left: 0px;
top: 0px;

/* Social Media Buttons */

position: absolute;
width: 224px;
height: 50px;
left: 1194px;
top: 25px;

/* Nav Button Contact */

position: absolute;
width: 50px;
height: 50px;
left: 1368px;
top: 25px;

/* Email Button */

position: absolute;
width: 50px;
height: 50px;
right: 22px;
top: 25px;

background: url(ios7-email-outline.png);
border-radius: 10px;

/* Nav Button About */

position: absolute;
width: 50px;
height: 50px;
left: 1281px;
top: 25px;

/* Github Button */

position: absolute;
width: 50px;
height: 50px;
right: 109px;
top: 25px;

background: url(social-github-outline.png);
border-radius: 10px;

/* Nav Button Portfolio */

position: absolute;
width: 50px;
height: 50px;
left: 1194px;
top: 25px;

/* Linkedin Button */

position: absolute;
width: 50px;
height: 50px;
right: 196px;
top: 25px;

background: url(social-linkedin-outline.png);
border-radius: 10px;

/* Header */

position: absolute;
width: 1440px;
height: 100px;
left: 0px;
top: 0px;

background: rgba(0, 117, 255, 0.5);

/* Logo */

position: absolute;
width: 80px;
height: 80px;
left: 10px;
top: 10px;

/* Logo */

position: absolute;
width: 80px;
height: 80px;
left: 10px;
top: 10px;

background: url(magicpattern-grid-pattern-1698108549255.png);
border-radius: 40px;

/* OW */

position: absolute;
width: 56px;
height: 49px;
left: 10.5px;
top: 46.21px;

font-family: "Yellowtail";
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 49px;
/* identical to box height */
display: flex;
align-items: center;

color: #ff00f5;

text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
transform: rotate(-30deg);

/* Page Title */

position: absolute;
width: 794px;
height: 47px;
left: 323px;
top: 13px;

font-family: "Work Sans";
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #000000;

/* Navigation Bar */

position: absolute;
width: 556px;
height: 30px;
left: 442px;
top: 67px;

/* Nav Bar */

position: absolute;
width: 556px;
height: 30px;
left: 442px;
top: 67px;

/* Nav Button Contact */

position: absolute;
width: 150px;
height: 30px;
left: 848px;
top: 67px;

/* Nav Button */

position: absolute;
width: 150px;
height: 30px;
left: 848px;
top: 67px;

background: #00ff1a;
border-radius: 10px;

/* Navigation link */

position: absolute;
width: 150px;
height: 30px;
left: 848px;
top: 67px;

font-family: "Work Sans";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

/* Nav Button About */

position: absolute;
width: 150px;
height: 30px;
left: 645px;
top: 67px;

/* Nav Button */

position: absolute;
width: 150px;
height: 30px;
left: 645px;
top: 67px;

background: #00ff1a;
border-radius: 10px;

/* Navigation link */

position: absolute;
width: 150px;
height: 30px;
left: 645px;
top: 67px;

font-family: "Work Sans";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

/* Nav Button Portfolio */

position: absolute;
width: 150px;
height: 30px;
left: 442px;
top: 67px;

/* Nav Button */

position: absolute;
width: 150px;
height: 30px;
left: 442px;
top: 67px;

background: #00ff1a;
border-radius: 10px;

/* Navigation link */

position: absolute;
width: 150px;
height: 30px;
left: 442px;
top: 67px;

font-family: "Work Sans";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
