html {
  scroll-behavior: smooth;
}

#BackToTopButton {
  display: none;
  position: fixed;
  width: 30px;
  height: 30px;
  bottom: 120px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: #00fa1a;
  color: red;
  border-radius: 10px;
}

#BackToTopButton:hover {
  outline: solid 2px #ff00f5;
  cursor: pointer;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji",
    sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.headerBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 130px;
  background-color: rgb(0, 117, 255, 50%);
}

.logo {
  display: flex;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 20px 0 20px 0;
  background-image: url(./Portfolio_images/Resized/grid-pattern-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
}
.logoText {
  color: #ff00f5;
  font-size: 36px;
  font-family: Yellowtail;
  width: 70px;
  text-align: left;
  margin: auto;
  transform: rotate(-30deg);
}
header a {
  text-decoration: none;
}

.siteTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.siteTitle h1 {
  text-align: center;
  font-size: 40px;
  margin: 0 0 15px 0;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

nav .navButton {
  width: 150px;
  height: 30px;
  background-color: #00fa1a;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  text-align: center;
  line-height: normal;
  color: black;
}

nav .navButton:hover {
  outline: solid 2px #ff00f5;
  cursor: pointer;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: 200px;
}

.socialMedia a {
  color: black;
}

main {
  padding: 0 100px 0 100px;
}

.bannerBackground {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  border-radius: 100px 0 100px 0;
  background-color: rgb(0, 117, 255, 11%);
  margin: 132px auto 2em;
  min-width: 700px;
  max-width: 1100px;
}

.bannerText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bannerParagraph {
  width: 33%;
  min-width: 330px;
  max-width: 360px;
  text-align: center;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
}

.bannerImage {
  height: 380px;
  width: 33%;
  min-width: 330px;
  max-width: 360px;
  border-radius: 100px 0 100px 0;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 510px;
  border-radius: 100px 0 100px 0;
  margin: 0 auto 2em auto;
  min-width: 700px;
  max-width: 1100px;
}

.developmentProjects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 340px;
  border-radius: 100px 0 100px 0;
  margin: 0 auto 2em auto;
  min-width: 700px;
  max-width: 1100px;
}

.projectsHeader {
  margin: 3em 0 2em 0;
  text-align: center;
  font-size: 32px;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 310px;
  height: 500px;
  border-radius: 50px 0 50px 0;
  background-color: rgb(0, 117, 255, 11%);
  padding: 25px;
}

.cardImage {
  height: 250px;
  width: 310px;
  border-radius: 50px 0 50px 0;
}

.cardParagraph {
  display: flex;
  color: black;
  text-align: left;
  font-size: 1rem;
  line-height: normal;
  margin: 0;
}

.cardParaLabel {
  display: flex;
  color: black;
  font-size: 1rem;
  line-height: normal;
  font-weight: 600;
  text-decoration: underline;
  text-align: left;
  margin: 0;
}

.cards a {
  color: blue;
  text-decoration: underline;
}

.developmentCard {
  display: flex;
  flex-direction: column;
  width: 205px;
  height: 330px;
  border-radius: 50px 0 50px 0;
  background-color: rgb(0, 117, 255, 11%);
  padding: 5px;
}

.developmenth3 {
  margin: 25px 0 0 0;
  border-bottom: 2px solid black;
}

.developmentCard .cardParaLabel {
  text-decoration: none;
}

.aboutCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 490px;
  height: 500px;
  border-radius: 50px 0 50px 0;
  background-color: rgb(0, 117, 255, 11%);
  padding: 25px;
  overflow: auto;
  cursor: s-resize;
}

.aboutMe h3 {
  font-size: 24px;
  text-decoration: underline;
}

.aboutParagraph {
  display: flex;
  text-align: left;
  color: black;
  font-size: 1rem;
  line-height: normal;
  margin: 10px;
}

.footerBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: rgb(0, 117, 255, 50%);
}

footer p {
  display: flex;
  text-align: left;
  color: black;
  font-size: 1rem;
  line-height: normal;
  margin: 60px 100px 0 0;
}

.footerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 50px 0 0;
}

/* Style for contact forms on contacts page*/
.homeForms .contactDetails {
  padding: 1rem;
  margin: 0 0.5rem 1rem;
  border: solid #ff7a00 2px;
  border-radius: 4px;
}
.homeForms ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  padding: 0;
}
.homeForms li {
  margin-left: 2rem;
}

.homeForms .forms {
  margin: 200px 0.5rem 1rem;
}
.contactUsForm {
  font-size: 1.5rem;
  display: grid;
  justify-items: center;
  text-align: center;
  margin: auto;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.formContact {
  background-color: white;
  display: block;
  border: 2px solid #ff7a00;
  border-radius: 4px;
  padding: 1rem;
  margin: 0 0.5rem 1rem;
}
.formControl {
  width: 90%;
  border: 1px solid #ff7a00;
  border-radius: 4px;
  padding: 0.2rem;
  outline: 0;
  margin-bottom: 1rem;
  transition: border 0.15s, box-shadow 0.15s;
}

.formControl:focus {
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.25rem;
}

.smButton {
  border-radius: 4px;
  width: 45%;
  padding: 0;
}
.smButton:hover {
  color: #ff7a00;
}
.homeForms h2 {
  text-align: center;
}
.inputBox {
  width: 20px;
  margin: 0 1rem 0 0;
}
.checkbox {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  display: flex;
  justify-items: left;
  padding: 0.2rem;
  outline: 0;
  margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
  .headerBlock {
    display: flex;
    flex-direction: row;
    height: auto;
  }
  .logo {
    margin: 5px;
  }
  main {
    padding: 0;
  }
  .siteTitle h1 {
    font-size: 20px;
  }
  nav {
    display: flex;
    flex-direction: row;
    width: 210px;
  }
  nav .navButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 20px;
    margin: 0 5px;
    font-size: 10px;
  }
  .socialMedia {
    flex-direction: column;
    width: 50px;
    margin: 0 20px 0 10px;
  }
  .socialMedia .socialMediaLink .fa-3x {
    font-size: 2em;
    padding: 3px 0;
  }

  .bannerBackground {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    border-radius: 50px 0 50px 0;
    background-color: rgb(0, 117, 255, 11%);
    margin: 1em auto;
    width: 310px;
    min-width: 310px;
    padding: 5px;
  }
  .bannerParagraph {
    width: 310px;
    min-width: 310px;
    text-align: center;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 600;
  }

  .bannerImage {
    height: 340px;
    width: 310px;
    min-width: 310px;
    border-radius: 50px 0 50px 0;
  }
  .projectsHeader {
    margin: 1em 0 0 0;
  }
  .projects {
    display: flex;
    flex-direction: column;
    min-width: 310px;
    height: auto;
  }
  .developmentProjects {
    display: flex;
    flex-direction: column;
    min-width: 310px;
    height: auto;
  }
  .cards {
    margin: 5px 0;
  }
  .aboutCard {
    width: 310px;
  }
  .footerBlock {
    display: flex;
    flex-direction: row;
    height: auto;
  }
  footer p {
    margin: 0;
  }
  .footerNav {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: auto;
  }
  .footerNav .navButton {
    margin: 3px 0;
  }
  .footerBlock .socialMedia {
    flex-direction: column;
    margin: 0 20px;
  }
  #BackToTopButton {
    right: 5px;
  }
}
