body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: gold;
  line-height: 1.25rem;
  margin: 0 1rem 1rem;
  color: blueviolet;
}

header {
  display: inline;
  align-content: center;
}

.choseAction {
  background-color: gold;
  height: 40vh;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 3rem 2rem 3rem 2rem;
  align-items: center;
}

h2 {
  position: relative;
  display: inline-block;
  text-align: center;
  line-height: 3rem;
  font-size: 3rem;
  width: 100%;
  margin: 0;
}


.butOne {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  padding: 1rem;
  margin: 0;
  border: 1px solid black;
  border-radius: 50%;  
}

.butTwo {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  padding: 1rem;
  margin: 0;
  border: 1px solid black;
  border-radius: 50%;
}

.butOne:hover, .butTwo:hover {
  background-color: gold;
  border: 1px solid red;
}

.resetButton {
  background-color: rgb(240, 240, 240);
  text-decoration: none;
  color: black;
  padding: 0 1rem;
  border: 1px black solid;
  border-radius: 3px;
  margin-top: 1rem;
}

h1 {
  text-align: center;
  text-shadow: 3px 3px 5px rgb(188, 184, 184);
  font-size: 1.75rem;
}

.roomsize {
  font-size: 1.3rem;
}

p {
  margin: 0.5rem 0.1rem;
  text-align: center;
}

.grid {
  display: grid;
  background-color: blue;
  border-top: solid 2px blue;
  border-right: solid 2px blue;
  border-left: solid 2px blue;
  grid-gap: 2px;
  
  
}

.grid--item {
  background: gold;
  width: 100%;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
 
  
}

img.grid--item {
  border-radius: .3rem;
  padding-top: 0;
  padding-bottom: 0%;
  size: 100%;
  height: 100%;
  
}

.mySpaceSizes {
  margin-bottom: 0;
}


.bedroomCoins {
  margin-bottom: 0;
}

.coinsWorth {
  padding-top: 5rem;

  
}

.rMcDuck {
  transform: rotateY(180deg);
}


mark {
  background-color: rgb(174, 185, 157);
  color: blueviolet;
}

@media screen and (min-width: 800px) {
  body {
    line-height: 1.25rem;
  }

  h1 {
    text-align: center;
    text-shadow: 3px 3px 5px rgb(188, 184, 184);
    font-size: 3rem;
  }

  .choseAction {
    background-color: gold;
    height: 100%;
  
  
  }



  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }

  p {
    width: 40%;
    margin: 0.5rem auto;
    text-align: center;
  }

  

}






















  /*moon 384,400km
  earth circumference 40,075km
  hight of everest 8,849m
  Burj Khalifa in Dubai 828m
  newyork too sydney 15988km
  stright line distance between newyork and la 3936km
  cruising altitude 10,000m

  average bedroom 30m3
  shipping containers 76 cubic metres
  tesla 3.17m3
  volume of olympic swimming pool 2,500 m3

  
  